.react-multi-carousel-list {
  width: 100%;
  height: 500px;
}

.comment-card {
  margin: 0 2rem;
  height: 360px;
  border-radius: 30px;
  border-top: 5px solid black;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 0.4rem 0.8rem;
  background: white;
  transition: transform 0.5s ease-in-out;

  &.react-multi-carousel-item--active {
    transform: scale(1.05);
    border-top: 7px solid #f9b03a;
    z-index: 3;
  }

  .comment-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;

    .wrap-name {
      display: flex;
      align-items: center;
      gap: 1rem;

      .circle {
        width: 50px;
        height: 50px;
        background-color: black;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;
      }
    }

    .rating {
      display: flex;
      gap: 0.5rem;
      font-size: 18px;
      color: gray;

      .ico {
        font-size: 20px;
        color: #f9b03a;
      }
    }
  }

  .comment-desc {
    padding: 1rem 1.2rem;
    font-size: 20px;
    line-height: 25px;
    font-family: "NotoSerif", sans-serif;
  }
}

.react-multiple-carousel__arrow {
  background-color: #f9b03a;
  border: 2px solid black;
}

.react-multiple-carousel__arrow:hover {
  background-color: #f9b03a;
}

.react-multi-carousel-dot-list {
  display: flex;
  justify-content: center;
  margin-top: 1rem;

  .react-multi-carousel-dot {
    button {
      width: 20px;
      height: 20px;
      border: 2px solid black;
      border-radius: 50%;
      background-color: white;
    }

    &.react-multi-carousel-dot--active {
      button {
        background-color: #f9b03a;
      }
    }
  }
}
