.login-wrapper {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, orange, #fbbc5e, orange);

  .login-container {

    .login-card {
      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(10px);
      padding: 2.5rem 3rem;
      border-radius: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      text-align: center;
      width: 450px;
      color: white;
      z-index: 2;

      h2 {
        margin-bottom: 20px;
      }

      .input-group {
        display: flex;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        padding: 1.2rem;
        margin: 10px 0;

        .icon {
          margin-right: 10px;
          color: orange;
          width: 22px;
          height: 22px;
        }

        .icon-2{
          margin-left: 10px;
          color: orange;
          width: 26px;
          height: 22px;
          cursor: pointer;
        }

        input {
          background: none;
          border: none;
          outline: none;
          color: orange;
          font-size: 20px;
          width: 100%;
        }

        input:focus::placeholder {
          color: red;
        }

      }

      .input-group:hover{
        cursor: pointer;
      }

      .options {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        margin-bottom: 10px;
      }

      .login-btn {
        width: 100%;
        padding: 15px;
        background: orange;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        margin-top: 20px;
      }

      p {
        margin-top: 10px;
      }

      a {
        color: white;
        text-decoration: none;
        font-weight: bold;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../Images/Logos/logo.png");
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: contain;
    background-position: center;
    position: relative;

    h1{
      position: fixed;
      top: 5rem;
      font-size: 50px;
      z-index: 1;
    }

  }

}


@media (max-width: 480px) {
  .login-container {
    padding: 0 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("../../Images/Logos/logo.png");
    background-repeat: no-repeat;
    object-fit: contain;
    background-size: 480px 480px !important;
    background-position: center;
    position: relative;

    h1{
      position: fixed;
      top: 5rem;
      font-size: 32px !important;
      z-index: 1;
    }

  }
}
