.not-found {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #fff;
  color: #000;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  padding: 0 1rem;

  h1 {
    color: #f96000;
    margin-bottom: 0px;
  }
  h2 {
    color: #f96000;
    margin-bottom: 20px;
  }
  a {
    color: #f96000;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;

    &:hover {
      color: #d94e00;
    }
  }
}
