.wrapper-roles {
  text-align: center;
  padding: 2rem;

  h1 {
    margin-bottom: 4.8rem;
    font-size: 35px;
  }

  .wrap-role-cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
    justify-content: center;
  }

  .single{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 1rem;
    justify-content: center;
  }

  .role-card {
    margin: 0 auto;
    margin-bottom: 1rem;
    background: #f2f2f2;
    border-radius: 20px;
    padding: 1.5rem;
    width: 450px;
    height: 450px;
    box-shadow: 0 4px 10px #f9b03a;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;

    h1{
      color: #f9b03a;
    }

    img{
      width: 165px;
      height: 165px;
      background-color: #f9b03a;
      padding: 1.2rem;
      border-radius: 10px;
    }

    &:hover {
      transform: translateY(-5px);
    }

    h3 {
      margin-bottom: 0.5rem;
      color: #333;
    }

    button {
      margin-top: 2.2rem;
      padding: 1rem;
      border: none;
      background-color: black;
      color: white;
      border-radius: 50px;
      cursor: pointer;
      font-size: 20px;
      font-weight: bold;

      &:hover {
        background-color: #353535;
        cursor: pointer;
        color: #f9b03a;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wrapper-roles {

    h1 {
      margin-bottom: 2rem !important;
      font-size: 32px !important;
    }

    .wrap-role-cards {
      max-width: 460px !important;
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;

    }

    .single{
      margin: 0 auto;
      max-width: 1000px;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1rem;
      justify-content: center;
    }

    .role-card {
      padding: 1.2rem !important;
      width: 300px !important;
      height: max-content !important;

      h1{
        margin-bottom: 2rem !important;
      }

      img{
        width: 130px !important;
        height: 130px !important;
        background-color: #f9b03a;
        padding: 1.2rem;
        border-radius: 10px;
      }



      button {
        margin-top: 2rem;
        padding: 1rem;
        border: none;
        background-color: black;
        color: white;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;

      }
    }

  }
}

@media (max-width: 767px) {
  .wrapper-roles {

    h1 {
      margin-bottom: 2rem !important;
      font-size: 32px !important;
    }

    .wrap-role-cards {
      max-width: 460px !important;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1rem;

    }

    .single{
      margin: 0 auto;
      max-width: 1000px;
      display: grid;
      grid-template-columns: repeat(1,1fr);
      gap: 1rem;
      justify-content: center;
    }

    .role-card {
      padding: 1.2rem !important;
      width: 300px !important;
      height: max-content !important;

      h1{
        margin-bottom: 2rem !important;
      }

      img{
        width: 130px !important;
        height: 130px !important;
        background-color: #f9b03a;
        padding: 1.2rem;
        border-radius: 10px;
      }



      button {
        margin-top: 2rem;
        padding: 1rem;
        border: none;
        background-color: black;
        color: white;
        border-radius: 50px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;

      }
    }

  }
}
